@inject NavigationManager NavigationManager

<button @onclick="GoToHome" class="home-button">JLBlazor Shop</button>
<button alt="tony stark">
    <i>t</i>
    <i>o</i>
    <i>n</i>
    <i>y</i>
    <i>&nbsp;</i>
    <i>s</i>
    <i>t</i>
    <i>a</i>
    <i>r</i>
    <i>k</i>
</button>

@code {
    private void GoToHome()
    {
        NavigationManager.NavigateTo("");
    }
}
