@inject ICategoryService CategoryService


<div class="top-row ps-3 navbar navbar-dark navbar-toggler-wrapper">
    <div class="container-fluid">        
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-nav">        
        <div class="nav-item px-2">
            <NavLink class="nav-link">
                <HomeButton/>
            </NavLink>
            @foreach (var category in CategoryService.Categories)
            {
                <NavLink class="nav-link" href="@category.Url">
                    @category.Name
                </NavLink>
            }        
            <NavLink class="nav-link">
                <Search />
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private bool isDropdownOpen = false;

    private string dropdownClass => isDropdownOpen ? "dropdown-menu show" : "dropdown-menu";

    private void ToggleDropdown()
    {
        isDropdownOpen = !isDropdownOpen;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        await CategoryService.GetCategories();
    }

    public class Category
    {
        public string? Name { get; set; }
        public string? Url { get; set; }
    }
}
