@inherits LayoutComponentBase

<div class="page">
    <main>        
        <div class="nav-menu">
            <ShopNavMenu />
        </div>
        <article class="content">
            @Body
        </article>
    </main>
</div>
